<div class="jumbotron">
  <h1>Meet ups</h1> 
  <p>Don't want to do activites alone? Join a group!</p>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="~/images/disneyland.jpg" alt="Disney" style="width:100%">
        <div class="caption">
          <p>Disneyland</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="~/images/machuPicchu.jpg" alt="machuPicchu" style="width:100%">
        <div class="caption">
          <p>Machu Picchu</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="~/images/snowboard.jpg" alt="snowboard" style="width:100%">
        <div class="caption">
          <p>Snowboard</p>
        </div>
      </a>
    </div>
  </div>
</div>
</div>