<div class="section1 text-center">
  <h1>People are awesome!</h1>
</div>
<div class="section2 text-center">
  <h1>Get to know neighboring people with the same interests as you!</h1>
</div>
<div class="section3 text-center">
  <h1>Sign up for events to meet some cool people!</h1>
</div>
