@{
    ViewData["Title"] = "Login";
}

<div class="error">
    <p>@ViewBag.LogError</p>
</div>

<form action="login" method="post">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="Email" name="Email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="Password" name="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<br>  
<p>Don't have an account? <a href="/register">Register!</a></p>