@{ ViewData["Title"] = "Activity"; }

<div class="container">
    <h1>@ViewBag.Activity.Title</h1>

    <h3>@ViewBag.Activity</h3>

    <h3>Description</h3>
    <p>@ViewBag.Activity.Description</p>
    
    <h3>Participants:</h3>
</div>